@charset "UTF-8";

	/*
	 body{
		 background-color: slategray;
		 color:white;
	 }*/
    /* 카테고리 탭 스타일 */
    .sidenav {
        height: 100%; width: 240px; position: fixed; z-index: 1;
        top: 0; left: -170px; /* 왼쪽으로 조금 숨김 */
        background-color: black; padding-top: 20px;
        transition: left 0.3s; margin-top:100px;
        border-top-right-radius: 20px;
    }

    .sidenav:hover, .sidenav.active {
        left: 0; /* 마우스를 올리거나 활성화 상태일 때 나타남 */
    }


    /* 각각의 카테고리 탭 버튼 스타일 */
    .sidenav button {
        background-color: inherit; border: none; outline: none; cursor: pointer;
        padding: 10px 15px; display: block; width: 100%; text-align: left;
        transition: 0.3s; color: white;
    }

    /* 활성 탭 버튼 스타일 */
    .sidenav button.active {
        font-size:1.5em; color: rgb(243, 156, 18);
    }

    /* 카테고리 탭 내용 스타일 */
    #content {
		width:100%;
        margin-left: 75px;
        padding: 20px;
    }
    
    .tabcontent{
		display: none;
	}
	#hrstyle{
		background-color: white; width:120px; border:none; height: 0.01em; margin-left: 10px;
	}
	/*각 페이지의 이름*/
	#top{
		font-size: 2em; color:  rgb(243, 156, 18);  list-style: none;
		display:flex; flex-basis:100%; align-items: left; margin:8px 0px;
		margin-bottom:70px;
	}
	/*글자 옆에 선*/
	#top::after{
		content:""; flex-grow:1; margin:20px 12px; height:2px; font-size:0; line-height:0px;
		background:darkgray;
	}
	/*좌우정렬*/
	.left-content {
        float: left; width: 75%;
    }

    .right-content {
        float: right; width: 20%; text-align: right; list-style: none; text-align: left;
    }
	/*배너, 추후 사진 등으로 교체?*/
	#banner {
      color : white; background-color: #202020; text-align:center; list-style: none;
      padding-top: 10px; padding-bottom: 10px; border-color:#202020; font-size:2.5em;
      
   }
	/*글쓰기 버튼*/
	#writebutton{
		color:white; background-color: #202020; float: right; border-radius: 5px;
	}
	main{
		min-width:700px;
		max-width: 1400px;
		margin:0 auto;
	}
	
	/*li 4개씩 그룹화 및 정렬*//*
	ul li:nth-child(odd){
		float: left; clear: left; list-style: none; margin-right: 10px;
	}
	ul li:nth-child(even){
		float: right; clear:right; list-style: none; margin-left: 10px;
	}
	
	ul li:nth-child(4n-1){
		float: left; list-style: none; margin-right: 10px;
	}	
	ul li:nth-child(4n){
		float: right; list-style: none; margin-left: 10px;
	}*/
	
	
	
	/*
	.writelist{
		display: flex;
		flex-wrap: wrap;
		gap:20px;
	}
	.writelist ul{
		flex-basis: calc(50%-20px);
		margin-bottom: 20px;
	}
	.writelist li{
		list-style: none;
	}*/
	/*글 사이 줄 긋기*/
	.writelist{
		margin-bottom: 20px;
	}
	.line{
		margin-bottom: 15px;
		border-bottom:2px solid darkgray;
		padding-bottom: 15px;
		
	}
	.right-content>li{
		margin-bottom:10px;
	}
	
	img{
		width: 70px;
		height: 70px;
	}
	
	/*게시글 목록 스타일*/
 	.writelist *{
            list-style-type: none;
        }
    #list, #list1, #list2, #list3{
            margin: 0;
            padding: 0;
        }
    .line{
            border-bottom: 1px solid darkgray;
        }
    .line>div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    /*페이지 넘기는 버튼*/
    .number{
		list-style: none; font-size: 20px;
		padding:0; display: flex; justify-content: center; width: 75%;
	}
	.number>li{
		 padding-right:10px; padding-left:10px; border-radius: 20px;
	}