@charset "EUC-KR";

.editer-main{
	padding-top: 10px;
	width: 1000px;
	margin: auto;
	overflow: hidden;
}

#top{
	font-size: 2em;
	color: black;
	list-style:none;
	display: flex;
	margin: 8px 0px;
	margin-bottom: 20px;
}
#top::after{
	content: "";
	flex-grow: 1;
	margin: 20px 12px;
	height: 2px;
	font-size: 0;
	line-height:  0px;
	background: darkgray;
}
#writebutton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 4px;
    float: right;
}

.editer-columnTitle{
	float: left;
	width: 600px;
	margin-right: 20px;
}

.editerWritingTitle .editer-formSelectButton .button{
	height: 40px;
	font-size: 15px;
}
.editer-formSelectButton .button{
	display: block;
	position: relative;
	width: 100%;
	padding: 0 25px 0 11px;
	border: 1px solid #ebecef;
	background: #fff;
	text-align: left;
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.editer-formSelectButton .button .svg-icon{
	position: absolute;
	top: 50%;
	right: 11px;
	width: 10px;
	height: 6px;
	margin-top: -3px;
	color: #323232;
	opacity: .5;
}
.editerWritingTitle .editer-formSelectButton .editer-selectOption{
	transition: opacity .3s ease;
}
.editer-selectOption{
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 100;
	max-height: 324px;
	margin-top: 2px;
    padding: 8px 0;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 6px;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.06);
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
}
.editer-selectOption .option{
	display: block;
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    height: 32px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 33px;
    white-space: nowrap;
    color: #000;
}
.editer-columnCategory{
	float:left;
	position: relative;
	width: 270px;
	margin-right: 20px;
}
.editer-row{
	overflow: hidden;
}
.row{
	margin-top: 12px;
}
.editer-fixableTextArea .textarea-input{
	display: block;
    width: 1000px;
    min-height: 40px;
    padding: 11px 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid #ebecef;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    word-break: break-all;
    font-size: 15px;
    letter-spacing: -.23px;
    line-height: 17px;
    outline: none;
} 

#summernote{
	margin-top: 30px;
}

footer{
	margin-top:100px;
}

/*각 페이지의 이름*/
	#top_2{
		font-size: 2em; color:  rgb(243, 156, 18);  list-style: none;
		display:flex; flex-basis:100%; align-items: left; margin:8px 0px;
		margin-bottom:50px;
	}
	/*글자 옆에 선*/
	#top_2::after{
		content:""; flex-grow:1; margin:20px 12px; height:2px; font-size:0; line-height:0px;
		background:darkgray;
	}